.menu-buttons__controls {
    display: flex;
    width: 100%;
    justify-content: center;
}

.menu-buttons__controls button {
    margin: 5px;
}

.menu-buttons__wave-editor {
    display: flex;
    width: 100%;
    justify-content: center;
}

.menu-buttons__wave-editor__container {
    display: flex;
    margin: auto;
    max-width: 500px;
}

.menu-buttons__wave-editor__block {
    padding: 1rem;
}

.menu-buttons__wave-editor__block .color_picker {
    padding-bottom: 0.5rem;
}